[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
jupyter = "*"
pylint = "*"

[packages]
fastapi = "*"
requests = "*"
googlemaps = "*"
pygeohash = "*"
boto3 = "*"
fastai = "*"
docopt = "*"

[requires]
python_version = "3.7"
